<!-- BEGIN FOOTER -->
	<div class="footer">
		2013 &copy; Zultime.
		<div class="span pull-right">
			<span class="go-top"><i class="icon-angle-up"></i></span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS -->
	<!-- Load javascripts at bottom, this will reduce page load time -->
	
	<!--[if lt IE 9]>
	<script src="~/Content/themes/MetTheme/js/excanvas.js"></script>
	<script src="~/Content/themes/MetTheme/js/respond.js"></script>	
	<![endif]-->	
    <script src="~/Content/themes/MetTheme/js/jquery-1.8.3.min.js"></script>	
	<script src="~/Content/themes/MetTheme/breakpoints/breakpoints.js"></script>	
	<script src="~/Content/themes/MetTheme/chosen-bootstrap/chosen/chosen.jquery.js"></script>
	<script src="~/Content/themes/MetTheme/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>	
	<script src="~/Content/themes/MetTheme/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/Content/themes/MetTheme/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
	<script src="~/Content/themes/MetTheme/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Content/themes/MetTheme/js/jquery.blockui.js"></script>	
	<script src="~/Content/themes/MetTheme/js/jquery.cookie.js"></script>
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>	
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
	<script src="~/Content/themes/MetTheme/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>	
	<script src="~/Content/themes/MetTheme/flot/jquery.flot.js"></script>
	<script src="~/Content/themes/MetTheme/flot/jquery.flot.resize.js"></script>
	<script type="text/javascript" src="~/Content/themes/MetTheme/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="~/Content/themes/MetTheme/uniform/jquery.uniform.min.js"></script>	
	<script type="text/javascript" src="~/Content/themes/MetTheme/js/jquery.pulsate.min.js"></script>
	<script type="text/javascript" src="~/Content/themes/MetTheme/bootstrap-daterangepicker/date.js"></script>
	<script type="text/javascript" src="~/Content/themes/MetTheme/bootstrap-daterangepicker/daterangepicker.js"></script>	

	<script type="text/javascript" src="~/Content/themes/MetTheme/data-tables/jquery.dataTables.js"></script>
	<script src="~/Content/themes/MetTheme/js/app.js"></script>		

    @Scripts.Render("~/bundles/jqueryLowAdmin","~/bundles/jqueryLowAdmin")			
	
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>