<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>     
      <ul>
      
        <li class="active"><a href="#"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
       
        <li><a href=""><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
      
        
        <li class="active"><a href="#"><i class="icon icon-list"></i> <span>Users Account</span></a></li>
       
        <li><a href=""><i class="icon icon-list"></i> <span>Users Account</span></a></li>
      
		
        <li class="active"><a href="#"><i class="icon icon-list"></i> <span>Content</span></a></li>
       
        <li><a href=""><i class="icon icon-list"></i> <span>Content</span></a></li>
      
		
      </ul>
    </div>