@model TimeAtten.Framework.Admin.BothLoginHeader
@{
    
    ViewBag.Title = "delte";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title>Login  Zultime</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="Msbh" />    
    <link href="~/Content/themes/MetTheme/bootstrap/css/bootstrap.min.css" rel="stylesheet" />    
   @Styles.Render("~/Content/themes/MetTheme/", "~/Content/themes/MetTheme/")   
	<link href="~/Content/themes/MetTheme/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
      <img src="~/Content/themes/Theme/img/logo.png" style="margin-top: -68px; width: 160px;" alt="Logo" />
  @* <img src="assets/img/logo-big.png" alt="" /> *@
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->   
   <div class="content">
    <!-- BEGIN LOGIN FORM -->
          @using (Html.BeginForm("Register", "AdminLogin", FormMethod.Post, new { @class = "form-vertical login-form" }))
        {  
    @*<form class="form-vertical login-form" action="index.html">*@
      <h3 class="form-title">Login to your account</h3>
      <div class="alert alert-error hide">
        <button class="close" data-dismiss="alert"></button>
        <span>Enter any username and passowrd.</span>
      </div>
      <div class="control-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-user"></i>
           @Html.TextBoxFor(model => model.LoginViewModel.Username, new { @class = "m-wrap placeholder-no-fix ", @minlength = 4, @maxlength = 20 , @name="username", @placeholder="Username"})
            @*<input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="username"/>*@
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="password" placeholder="Password" name="password"/>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <label class="checkbox">
        <input type="checkbox" name="remember" value="1"/> Remember me
        </label>
        <button type="submit" class="btn green pull-right">
        Login <i class="m-icon-swapright m-icon-white"></i>
        </button>            
      </div>
      <div class="forget-password">
        <h4>Forgot your password ?</h4>
        <p>
          no worries, click <a href="javascript:;" class="" id="forget-password">here</a>
          to reset your password.
        </p>
      </div>
      <div class="create-account">
        <p>
          Don't have an account yet ?&nbsp; 
          <a href="javascript:;" id="register-btn" class="">Create an account</a>
        </p>
      </div>@*</form>*@
          }
    <!-- END LOGIN FORM -->   
  </div>
  <!-- END LOGIN -->
  <!-- BEGIN COPYRIGHT -->
  <div class="copyright">
    2013 &copy; zultime.
  </div>
     <!-- END COPYRIGHT -->
  <!-- BEGIN JAVASCRIPTS -->
  <script src="~/Content/themes/MetTheme/js/jquery-1.8.3.min.js"></script>
  <script src="~/Content/themes/MetTheme/bootstrap/js/bootstrap.min.js"></script>  
  <script src="~/Content/themes/MetTheme/uniform/jquery.uniform.min.js"></script> 
  <script src="~/Content/themes/MetTheme/js/jquery.blockui.js"></script>
  <script type="text/javascript" src="~/Content/themes/MetTheme/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/Content/themes/MetTheme/js/app.js"></script>
  <script>
      jQuery(document).ready(function () {
   
          App.initLogin();

      });
  </script>
  <!-- END JAVASCRIPTS -->
  </body>
</html>